/*! _forms.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Form styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Global
1. Material Inputs
=============================================================================
***/

/* ==========================================================================
0. Global
========================================================================== */

.control {
    &.has-icon {
        position: relative;
    }

    .input {
        transition: all .3s;

        &.large-input {
            height: 44px;
        }

        &:focus {
            border-color: darken($fade-grey, 4%);
        }
    }
}


