.signin {

    .section {
        padding: 0rem 1.5rem;
    }

    .hero {
        .is-fullheight {
            min-height: 100vh;
        }

        .icon {
            margin-top: 1px;
            margin-right: 1px;
        }
    }

    .hero-heading {
        padding-top: 10px;
    }

    .forgot-password {
        padding-top: 20px;
    }

    .no-account-link, .has-text-centered {
        a {
            color: #A9ABAC;
            font-weight: 500;
        }
    }
}
